<!-- templates/profile_view.html -->
{% extends 'base.html' %}



{% block content %}

{% include '/partials/header.html' %}

    <h3> User Info </h3>
    <p>{{ profile.profile_name }}<br>
    {{ profile.profile_number }}<br>
    </p>
    <h3> Contact Info </h3>
    <p>{{ profile.contact_number }}<br>
        {{ profile.contact_provider }}</p>
    <h3> Record Code </h3>
    {{ profile._id }}

    <hr>
    <!-- Back button -->
    {{ profile_id }}
    <button onclick="window.location.href = '/profile/{{ profile._id }}/edit';">🔊 Edit Your Profile</button>
    <button onclick="window.location.href = '/';">🔊 Back to InstaShout</button>
    

    <!-- Delete button -->
    <p><form method='POST' action='/profiles/{{ profile_id }}/delete'>
    <button type="button" class="btn btn-sm btn-danger">This is the Delete Button - Do Not Delete</button>
    </form></p>

{% endblock %}